*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --drop-light_header:#FFFFFF;
    --drop-blue_btn:#0061ff;
    --drop-stc1_main:#b4d0e7;
}


/* #header */

.app_header{
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

.left_menù{
    display: flex;
    align-items: center;

    a{
        padding-left: 25px;
    }

    .logo{
        padding-left: 15px;
    }
}

.right_menù{
    display: flex;
    align-items: center;
    
    a{
        padding-right:25px ;

    }

    .btn_blue{
        padding: 7px;
        background-color: var(--drop-blue_btn);
        color: white;
        margin-right: 15px;
    }
    
}
/* end header */

/* main */

.container{
    padding-top: 40px;
    background-color: var(--drop-stc1_main);
    margin: auto;
    
}

.container_sm{
    padding-top: 100px;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    
    
}



.row_sm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    align-items: center;
    line-height: 20px;
    
}

.container_col1{
    display: flex;
    padding: 25px;
    flex-direction: column;
    line-height: 35px;
}



.col_4{
 width: 25%;
 margin-right: 300px;
margin-bottom: 50px;

 .btn_blue{
   background-color: var(--drop-blue_btn);
   padding: 5px;
   vertical-align: middle;
   color: white; 
   
 }
   
}



.col_5{
    width: 45%;
    position: absolute;
    bottom: -60px;
    right: 100px;
}


.col_3{
   width: calc((100% /12) *3);
    height: 700px;
    
    border: 1px solid lightgray;
    margin: 20px;
    display: flex;
    flex-direction: column;
   
    
}

.input_radio{
    padding-right: 890px;
    padding-top: 30px;
}

.col_12{
    width: 80.5%;
    display: flex;
    height: 100px;
    
    margin: 15px;
    border:  1px solid lightgray;
   justify-content: center;

}

h1{
    text-align: center;
    padding-bottom: 100px;
    font-size: 60px;
}

h2{
    font-size: 50px;
    text-align: center;
    padding-right: 435px;
    
}

.input_radio{
    text-align: center;
}

.paragraf{
    
    margin-bottom: 40px;
    line-height: 19px;
}

.little_paragraf{
    padding-top: 25px;
}

.fa-arrow-down{
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
}

.icon_user{
    border-bottom: 1px solid lightgrey;
    width: 100%;
    text-align: center;
    padding: 3px 0;
}

.btn_blue{
    background-color: var(--drop-blue_btn);
   padding: 5px 10px;
   vertical-align: middle;
   color: white;
   margin: 0 65px;
}


hr{
    margin-right: 300px;
    border-color: lightgray;
    margin-top: 20px;
}


.container_small{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    
    
}



.col70{
  width: 52%;
  margin-right: 40px;
}

.col20{
    width: 25%;

    padding-top: 70px;
}

.partner_dropox{
    line-height: 20px;
    
    h3{
        padding-bottom: 15px;

    }

    p{
        padding-bottom: 20px;
    }
    a{
        border: 1px solid black;
        padding: 5px 5px;
    }
}