
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 1440px;
}

img{
    max-width: 100%;
}

:root{
    --drop-light_header:#FFFFFF;
    --drop-blue_btn:#0061ff;
    --drop-stc1_main:#b4d0e7;
}

/* #header */

.app_header{
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

.left_menù{
    display: flex;
    align-items: center;

    a{
        padding-left: 25px;
        text-decoration: none;
    }

    .logo{
        padding-left: 15px;
    }
}

.right_menù{
    display: flex;
    align-items: center;
    
    a{
        padding-right:25px ;
        text-decoration: none;

    }

    .btn_blue{
        padding: 7px;
        background-color: var(--drop-blue_btn);
        color: white;
        margin-right: 15px;
    }
    
}
/* end header */

/* section_container */
.container, .container_sm {
    margin: auto;
}

.container{
    background-color: var(--drop-stc1_main);
    margin-bottom: 50px;
}



.container_sm{
    padding-top: 80px;
    width: 70%;
    margin: auto;
    
}

.container_logo_agency{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    
    
}

/* end_section_container */

/* section_col */
[class^="col"] {
    padding: 1rem;
}


.col_4{
    width: calc(100% / 12 * 4);
}

.col_8{
    width: calc(67% / 12 *8);
}

.col_6{

    width: calc(80% /  12 *4);
}
.col_5{
    width: calc(70% /12 * 4);
}
.col_12{
    width: calc(74.5% /12 * 12);
}


.col_footer{
    width: 170px;
    height: 350;
    display: flex;
    flex-direction: column;
}
/* end_section_col */

.row{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}


.information{
    
     padding-left: 330px;
   p, a, i{
      margin: 20px;
      
   }

  

}


.img_jumbo{

    height: 250px;
    
    

     
}

/* utility */
.btn_blue{
    padding: 7px;
    background-color: var(--drop-blue_btn);
    color: white;
    margin-right: 15px;
}

.btn_light{
        padding: 7px;
        border: 1px solid lightgray;
}
.btn_blue:hover{

    opacity: 0.2;
}
.btn_white:hover{
     opacity: 0.2;
}

.btn_white{
    background-color: white;
    padding: 5px 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

h2{
    font-size: 35px;
}
/* end_utility */

/* region_section */
.section_dropbox{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-right: 50px;
    
}
.section_partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
    p, h3, a{
        margin-bottom: 15px;
    }

    h3{
        margin-top: 30px;
    }
}

.section_business{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
   
    
    .col_12{
        border: 1px solid lightslategray;
        margin:30px;
    }

    .row-col{
        line-height: 50px;
    }

    .col_5{
       
        border: 1px solid lightslategray;
        margin: 0 15px;
       
        
    }

    hr{
        margin-right: 350px;
    }
}

.section_agency{
    background-color: var(--drop-stc1_main);
    height: 250px;
    margin-top: -26.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h2{
        color: rgb(113, 8, 113);
        padding-right: 150px;
    }

}

.section_questions{
    display: flex;
     padding-left: 200px;
    justify-content: center;
    line-height: 50px;
    flex-direction: column;
    height: 700px;

    h4{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h2{
        padding-bottom: 20px;
    }

    
}

/* end_region_section */
.icon_user{
    text-align: center;
    border-bottom: 1px solid lightslategray;
    margin: 0 -16px;
}

.selection{
    margin-top: 35px;
}

.checkbox{
    padding-left: 190px;
}

.enterprise{
    display: flex;
    justify-content: space-between;

    h3{
        margin-top: 10px;
    }
    
    h4{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .btn_blue{
        margin-top: 10px;
    }

    a{
        margin: 15px;
    }

    
}

.icon_user{
    padding-bottom: 5px;
}



.dropox_business{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}



    
.title_agency{
    padding-left: 420px;
    padding-top: 100px;
    padding-bottom: 50px;

    h2{
        margin-bottom: 50px;
    }
}
/* utility_square */
.square4{
    display: flex;
    flex-wrap: wrap;
   width: calc(100% / 12 * 4);
   height: 260px;
   width: 260px;
   
   img{
    padding: 25px 25px;

   }
   
}

.green{
    background-color: rgb(85, 152, 49);
}

.purple{
    background-color: rgb(94, 12, 94);
}

.bluelight{
    background-color: rgb(44, 127, 187);
}

.lightred{
    background-color: rgb(182, 50, 50);
}

.red{
    background-color: rgb(181, 5, 5);
}

.lightgrey{
    background-color: rgb(107, 140, 162);
}

.blue{
    background-color: rgb(34, 34, 128);
}

.yellow{
    background-color: yellow;
}


.square_left, .square_right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
    
}

.square_right{
    margin-left: 72px;
    
}
.square_left{
    margin-right:72px ;
    
}


.square_big{
  height: 300px;
  width: 300px;
  margin-left: 50px;

  margin-top: 20px;

  img{
    margin-bottom: 50px;
  }
}
/* end_utility_square */






.app_footer{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    background-color: black;
    margin: auto;
    
    

}

.d-flex{
    display: flex;
    justify-content: center;
    line-height: 40px;
    
    align-items: center;
    margin: auto;

    h3{
        color: white;
        padding-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: white;
    }
}